* {margin: 0;padding: 0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
a{color:inherit;text-decoration: none;}
ul,li{list-style: none;}
input{font:inherit;}

body{
    font-size:14px;
    line-height: 1.5;
}
/*layout*/

.page{
display: flex;
border: 1px solid red;
height: 100vh;
}
.page > aside{
 width:300px;
 border-right:1px solid rgb(55, 0, 255);
}
.page > main{
margin-left:20px;
}

/*aside*/
.page > aside{
display: flex;
flex-direction: column;
}
.newSong{
    font-size: 16px;
text-align: center;
padding:10px;
}
.songlist{
    border-top:1px solid #999;
    flex-grow: 1;/*让区域向上下延伸，这样上传区域就到底部了*/
}
.songlist > li{
    border-bottom:1px solid #ddd;
    padding:10px;
}
.songlist > li.active{
    background: #d4d4d4;
}
.uploadArea{}
.draggable{
    width: 300px;
    border: 2px dashed #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px 0;
}
.clickable{
    cursor: pointer;
}

/*main*/









